{% load static %}

<section class="flex items-center h-auto py-4 bg-gray-50 ">
    <div class="w-full max-w-screen-xl px-4 mx-auto lg:px-12">
        <!-- Start coding here -->
        <div class="relative overflow-hidden bg-white shadow-md md:rounded-full">
            <form action="{% url 'search' %}">
                <div class="flex flex-col items-center justify-center p-2 space-y-3 md:flex-row md:space-y-0 md:space-x-4">

                    <div class="inline-flex flex-col gap-4 w-full rounded-md shadow-sm md:w-auto md:flex-row"
                         role="group">
                        <div class="mb-6">
                            <label for="default-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Keyword</label>
                            <input type="text" id="default-input"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                        </div>

                        <div class="mb-6">
                            <label for="default-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 ">Location</label>
                            <input type="text" id="default-input"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                        </div>

                        <div class="mb-6">
                            <label for="default-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 ">Bedrooms</label>
                            <input type="text" id="default-input"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                        </div>

                        <div class="mb-6">
                            <label for="default-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 ">Price</label>
                            <input type="text" id="default-input"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                        </div>
                        <button type="submit"
                                class="mt-4 text-white grid place-content-center w-14 h-14 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center ">
                            <i class="bi bi-search text-white"></i>
                            <span class="sr-only">Icon description</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>