{% extends 'base.html' %}


{% block content %}

    <section class="">

        {% include 'partials/_alerts.html' %}
        <div class="container mx-auto">
            <div class="flex flex-wrap justify-center">
                <main class="w-full md:w-9/12 py-12">
                    <div class="mx-auto flex w-full max-w-sm flex-col gap-6">
                        <div class="flex flex-col items-center">
                            <h1 class="text-3xl font-semibold">Change your Password</h1>
                        </div>
                        <form action="{% url 'change_password' %}" method="POST" class="form-group">
                            {% csrf_token %}
                            <div class="form-field">
                                <label class="form-label" for="current_password">Current Password</label>

                                <label>
                                    <input placeholder="Current Password" type="password" name="current_password" class="input max-w-full"/>
                                </label>
                            </div>
                            <div class="form-field">
                                <label class="form-label">New Password</label>
                                <label class="form-control">
                                    <input placeholder="Type here" type="password" name="new_password" class="input max-w-full"/>
                                </label>
                            </div>
                            <div class="form-field">
                                <label class="form-label">Confirm Password</label>
                                <label class="form-control">
                                    <input placeholder="Type here" type="password" name="confirm_password" class="input max-w-full"/>
                                </label>
                            </div>
                            
                            <div class="form-field pt-5">
                                <div class="form-control justify-between">
                                    <button type="submit" value="submit" class="btn btn-primary w-full">Submit</button>
                                </div>
                            </div>

                            <div class="form-field">
                                <div class="form-control justify-center">
                                    <a class="link link-underline-hover link-primary text-sm" href="{% url 'register' %}">Don't have an account yet?
                                        Sign up.</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </main>
            </div> 
        </div>


    </section>

{% endblock %}
