{% extends 'base.html' %}

{% block title %} | User Dashboard {% endblock %}

{% block content %}
    <main class="dark:bg-slate-800 text-gray-800 dark:text-gray-200 px-4">
        <!-- Breadcrumb -->
    <div class="breadcrumbs text-sm p-4">
	<ul>
		<li>
            <i class="bi bi-house-fill mr-2"></i>
			<a href="{% url 'index' %}">Home</a>
		</li>
		<li>
			<a href="{% url 'listings' %}">Listings</a>
		</li>
        <li>
            User Dashboard
        </li>
	</ul>
</div>
        <!-- Hero -->
        <section class="py-5">
            <div class="container mx-auto">
                <div class="text-center">
                    <div class="">
                        <h1 class="text-2xl font-semibold capitalize lg:text-3xl">User Dashboard</h1>
                        <p class="text-sm">Manage your RentEasy account <span >{{user.full_name}}</span></p>
                    </div>
                    
                </div>
            </div>
        </section>


        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}

        <section class="py-16">
            <div class="container mx-auto">
                <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
                    <div class="overflow-x-auto">
                        <div class="p-2.5 flex flex-col">
                            <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                                Welcome {{ user.name }}</h2>
                            <p class="text-sm text-gray-600 dark:text-gray-400">Here are the property listings that you
                                have inquired about</p>
                        </div>
                        {% if contacts %}

                            <table class="min-w-full table">
                                <thead>
                                <tr>
                                    <th class="px-6 py-3 text-start whitespace-nowrap dark:text-slate-200">ID</th>
                                    <th class="px-6 py-3 text-start whitespace-nowrap dark:text-slate-200"><span class="">Name</span></th>
                                    <th class="px-6 py-3 text-start whitespace-nowrap dark:text-slate-200"><span class="">Email</span></th>
                                    <th class="px-6 py-3 text-start whitespace-nowrap dark:text-slate-200"><span class="">Inquiry</span>
                                    </th>
                                    <th class="px-6 py-3 text-start whitespace-nowrap dark:text-slate-200"><span class="">Property</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                {% for contact in contacts %}
                                    <tr class="hover">
                                        <td>{{ contact.id }}</td>
                                        <td class="">{{ contact.name }}</td>
                                        <td class="">{{ contact.email }}</td>
                                        <td class="">{{ contact.message }}</td>
                                        <td class="">{{ contact.listing }}</td>
                                        <td class="">
                                            <a class="btn btn-secondary btn-xs" href="{% url 'listing' contact.listing_id %}">View
                                                Listing</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td class="my-4">
                                        <p class="text-sm text-gray-600 dark:text-gray-400 flex gap-4">
                                            {% if contacts|length == 1 %}
                                                {{ contacts|length }} inquiry
                                            {% else %}
                                                {{ contacts|length }} inquiries
                                            {% endif %}
                                        </p>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        {% else %}
                            <p>You have not made any inquiries</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}