{% extends 'base.html' %}
{% load static %}
{% block title %} | Register Account {% endblock %}
{% block content %}
    <main class=" text-gray-800 container mx-auto flex justify-center">
        <div class="w-fit py-12">
            {% include 'partials/_alerts.html' %}
            <!-- Card -->
            <div class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-10 ">
                <h2 class="text-xl font-semibold text-gray-800 mb-4">
                    Register Account
                </h2>
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
                            <div class=" grid gap-4 lg:gap-6">
                            <label for="first_name" class="block text-sm text-gray-700 font-medium">First
                                Name</label>
                            <input id="first_name" type="text" name="first_name"
                                   class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                   required>
                        </div>
                        <div class=" grid gap-4 lg:gap-6">
                            <label for="last_name" class="block text-sm text-gray-700 font-medium">Last
                                Name</label>
                            <input id="last_name" type="text" name="last_name"
                                   class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                   required>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6 my-6">
                        <div class="form-group">
                            <label for="username" class="block mb-2 text-sm text-gray-700 font-medium">Username</label>
                            <input id="username" type="text" name="username"
                                   class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="block mb-2 text-sm text-gray-700 font-medium">Email</label>
                            <input id="email" type="email" name="email"
                                   class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                   required>
                        </div>
                    </div>
                    <div class="grid gap-4">
                        <div class="form-group">
                        <label for="password" class="block mb-2 text-sm text-gray-700 font-medium">Password</label>
                        <input id="password" type="password" name="password"
                               class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="password2" class="block mb-2 text-sm text-gray-700 font-medium">Confirm
                            Password</label>
                        <input id="password2" type="password" name="password2"
                               class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                               required>
                    </div>
                    </div>
                    
                    <input type="submit" value="Register" class="btn btn-primary btn-block mt-6">
                </form>
                <!-- End Grid -->


            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

    </main>
{% endblock %}