{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ listing.title }} {% endblock %}

{% block content %}
    <main class="dark:bg-slate-800 text-gray-800 dark:text-gray-200">
        <section class="container mx-auto py-16">
            <!-- Breadcrumb -->
            <nav class="flex px-6 py-4 breadcrumbs" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    <li class="inline-flex items-center">
                        <a href="{% url 'index' %}"
                           class="inline-flex items-center text-sm font-medium hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                            <i class="fas fa-home mx-2"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <a class="ms-1 text-sm font-medium md:ms-2 hover:text-blue-600 dark:text-gray-400 dark:text-gray-400 dark:hover:text-white">Browse
                                Listings</a>
                        </div>
                    </li>
                </ol>
            </nav>
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            <!-- Listing -->
            <section class="py-5">
                <div class="container mx-auto">
                    <div class=" text-center">
                        <div class="grid md:grid-col-2">
                            <h1 class="text-primary text-4xl font-bold py-2">{{ listing.title }}</h1>
                            <p class="py-2 text-lg">
                                <i class="fas fa-map-marker text-secondary mx-2"></i> {{ listing.city }}
                                , {{ listing.country }}
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Listing -->
            <div class=" p-6 w-full mx-auto">

                <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 mx-auto">
                    <div class="lg:col-span-2">
                        <img src="{{ listing.photo_main.url }}" alt="{{ listing.title }}"
                             class="w-full h-auto object-cover mb-3">
                        <div class="carousel carousel-center rounded-box mb-5 w-fit">
                            {% if listing.photo_1 %}
                                <div class="carousel-item">
                                    <div data-lightbox="home-images">
                                        <img src="{{ listing.photo_1.url }}" alt="{{ listing.title }}"
                                             class="w-full h-48 object-cover">
                                    </div>
                                </div>
                            {% endif %}
                            {% if listing.photo_2 %}
                                <div class="carousel-item">
                                    <div data-lightbox="home-images">
                                        <img src="{{ listing.photo_2.url }}" alt="{{ listing.title }}"
                                             class="w-full h-48 object-cover">
                                    </div>
                                </div>
                            {% endif %}
                            {% if listing.photo_3 %}
                                <div class="carousel-item">
                                    <div data-lightbox="home-images">
                                        <img src="{{ listing.photo_3.url }}" alt="{{ listing.title }}"
                                             class="w-full h-48 object-cover">
                                    </div>
                                </div>
                            {% endif %}
                            {% if listing.photo_4 %}
                                <div class="carousel-item">
                                    <div data-lightbox="home-images">
                                        <img src="{{ listing.photo_4.url }}" alt="{{ listing.title }}"
                                             class="w-full h-48 object-cover">
                                    </div>
                                </div>
                            {% endif %}

                            {% if listing.photo_5 %}
                                <div class="carousel-item">
                                    <div data-lightbox="home-images">
                                        <img src="{{ listing.photo_5.url }}" alt="{{ listing.title }}"
                                             class="w-full h-48 object-cover">
                                    </div>
                                </div>
                            {% endif %}

                            {% if listing.photo_6 %}
                                <div class="carousel-item">
                                    <div data-lightbox="home-images">
                                        <img src="{{ listing.photo_6.url }}" alt="{{ listing.title }}"
                                             class="w-full h-48 object-cover">
                                    </div>
                                </div>
                            {% endif %}
                            <!-- Repeat for other photos -->
                        </div>

                    </div>
                                                                                                                                                 <div class="grid w-full p-2">
                        <div
                                class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8"
                        >
  <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
  ></span>

                            <div class="sm:flex sm:justify-between sm:gap-4">
                                <div>
                                    <h3 class="text-lg font-bold sm:text-xl">
                                        Your Host
                                    </h3>

                                    <p class="mt-1 text-xs font-medium "> {{ listing.host.name }}</p>
                                    <p class="mt-1 text-xs font-medium "> {{ listing.host.description }}</p>
                                </div>

                                <div class="hidden sm:block sm:shrink-0">
                                    <div class="avatar">
                                        <div class="w-16 rounded-full">
                                            <img src="{{ listing.host.photo.url }}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-6">
                                <div class="text-pretty text-sm ">
                                    <!-- Fields -->

                                    <div>
                                        <ul class="list-none grid gap-2">
                                            <li class="text-gray-500 dark:text-gray-200">
                                                <i class="fas fa-money-bill-alt"></i> Price per night:
                                                <span class="float-right">£ {{ listing.price | intcomma }}</span>
                                            </li>
                                            <li class="text-gray-500 dark:text-gray-200">
                                                <i class="fas fa-bed"></i> Bedrooms:
                                                <span class="float-right">{{ listing.bedrooms }}</span>
                                            </li>
                                            <li class="text-gray-500 dark:text-gray-200">
                                                <i class="fas fa-bath"></i> Bathrooms:
                                                <span class="float-right">{{ listing.bathrooms }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Description -->
                                    <div class="my-5">
                                        <h3 class="text-2xl font-bold">Description</h3>
                                        <p class="py-2">{{ listing.description }}</p>
                                    </div>

                                </div>
                            </div>

                            <div class="mt-6 flex gap-4 sm:gap-6">
                                <div class="flex flex-col-reverse">
                                    <dt class="text-sm font-medium">Published</dt>
                                    <dd class="text-xs ">{{ listing.list_date |date:"d M Y" }}</dd>
                                </div>

                                <div class="flex flex-col-reverse">
                                    <dt class="text-sm font-medium ">Time since</dt>
                                    <dd class="text-xs ">{{ listing.list_date | naturaltime }}</dd>
                                </div>
                            </div>

                            <div class="mt-6">
                                <!-- Open the modal using ID.showModal() method -->
                                <button class="btn btn-primary" onclick="my_modal_5.showModal()">Send Message</button>
                                <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
                                    <div class="modal-box dark:bg-slate-700">
                                        <div class="mt-12 max-w-lg mx-auto">
                                            <!-- Card -->
                                            <div class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-8 dark:border-gray-700">
                                                <form method="dialog">
                                                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                                                        ✕
                                                    </button>
                                                </form>
                                                <h2 class="mb-8 text-xl font-semibold text-gray-800 dark:text-gray-200">
                                                    Fill in the form
                                                </h2>

                                                <form action="{% url 'contact' %}" method="POST">
                                                    {% csrf_token %}
                                                    {% if user.is_authenticated %}
                                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                                    {% else %}
                                                        <input type="hidden" name="user_id" value="0">
                                                    {% endif %}
                                                    <input type="hidden" name="host_email"
                                                           value="{{ listing.host.email }}">
                                                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                                    <div class="grid gap-4 lg:gap-6">
                                                        <div>
                                                            <label for="name"
                                                                   class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Name
                                                                <input type="text" name="name"
                                                                       id="name"
                                                                       {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} 
                                                                       class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                                                                       required>
                                                            </label>
                                                        </div>
                                                        <!-- End Grid -->
                                                        <div>
                                                            <label for="listing"
                                                                   class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Property
                                                                <input type="text" name="listing"
                                                                       id="listing"
                                                                       value="{{ listing.title }}"
                                                                       class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                                                                       required>
                                                            </label>
                                                        </div>
                                                        <!-- Grid -->
                                                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
                                                            <div>
                                                                <label for="email"
                                                                       class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Email
                                                                <input type="email" name="email"
                                                                       id="hs-email-contacts-1" autocomplete="email"
                                                                       class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                                                                        {% if user.is_authenticated %}
                                                                       value="{{ user.email }}"  {% endif %} required>
                                                                </label>
                                                            </div>

                                                            <div>
                                                                <label for="phone"
                                                                       class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Phone
                                                                    Number</label>
                                                                <input type="text" name="phone"
                                                                       id="phone"
                                                                       class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                                                                        >
                                                            </div>
                                                        </div>
                                                        <!-- End Grid -->

                                                        <div>
                                                            <label for="message"
                                                                   class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Details</label>
                                                            <textarea id="message"
                                                                      name="message" rows="4"
                                                                      class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"></textarea>
                                                        </div>
                                                    </div>
                                                    <!-- End Grid -->

                                                    <div class="mt-6 grid">
                                                        <button type="submit" value="submit"
                                                                class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                                                            Send inquiry
                                                        </button>
                                                    </div>

                                                    <div class="mt-3 text-center">
                                                        <p class="text-sm text-gray-500 dark:text-gray-200">
                                                            We'll get back to you in 1-2 business days.
                                                        </p>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- End Card -->
                                        </div>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <section class="py-20 dark:bg-slate-800 text-gray-800 dark:text-gray-200 ">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <div class=" rounded-2xl p-8 xl:p-11">
                        <h2 class="font-manrope text-4xl text-center font-bold mb-4">Subscribe to the latest offer
                        </h2>
                        <p class=" text-center mb-11 max-lg:max-w-2xl mx-auto">Join our community of subscribers
                            and receive regular
                            updates delivered straight to your inbox. It's quick, easy, and free</p>
                        <div
                                class="max-w-md mx-auto lg:bg-transparent lg:border border-gray-300 rounded-3xl max-lg:py-3 lg:rounded-full lg:h-12 lg:p-1.5 lg:flex-row gap-6 lg:gap-0 flex-col flex items-center justify-between">
                            <label>
                                <input type="text" name="email"
                                       class="py-2 px-6 bg-transparent rounded-full max-lg:border border-gray-300  text-gray-100 max-lg:text-center placeholder:text-gray-400 focus:outline-none flex-1 w-full lg:w-auto lg:py-2 lg:px-6 lg:bg-transparent"
                                       placeholder="Enter your email..">
                            </label>
                            <button type="submit"
                                    class="py-2 px-5 btn btn-primary rounded-full">Subscribe
                            </button>
                        </div>
                    </div>
                </div>
            </section>


        </section>
    </main>


{% endblock %}