{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Search Results {% endblock %}

{% block content %}
    
<section class="flex items-center h-auto py-4 bg-gray-50 dark:bg-gray-900">
    <div class="w-full max-w-screen-xl px-4 mx-auto lg:px-12">
        <!-- Start coding here -->
        <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 md:rounded-full">
            <form action="{% url 'search' %}">
                <div class="flex flex-col items-center justify-center p-2 space-y-3 md:flex-row md:space-y-0 md:space-x-4">

                    <div class="inline-flex flex-col gap-4 w-full rounded-md shadow-sm md:w-auto md:flex-row"
                         role="group">
                        
                        <div class="mb-6">
                            <label for="default-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
                            <input type="text" id="default-input" name="city" placeholder="London"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                        
                        <div class="mb-6">
                            <label for="default-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
                            <input type="text" id="default-input" name="country" placeholder="United Kingdom"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>

                        <div class="mb-6">
                            <label for="default-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bedrooms</label>
                            <input type="text" id="default-input" name="bedrooms" placeholder="3"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                        
                        <div class="mb-6">
                            <label for="default-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bathrooms</label>
                            <input type="text" id="default-input" name="bathrooms" placeholder="3"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>

                        <div class="mb-6">
                            <label for="default-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                            <input type="text" id="default-input" name="price" placeholder="£200"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                        <button type="submit"
                                class="mt-4 text-white grid place-content-center w-14 h-14 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span class="sr-only">Icon description</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

    <!-- Breadcrumb -->
    <div class="text-sm breadcrumbs px-6">
        <ul>
            <li>
                <a href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>
            <li>
                <a href="{% url 'listings' %}">
                    Browse Listings
                </a>
            </li>
            <li>
      <a href="{% url 'search' %}" class="inline-flex gap-2 items-center text-blue-500">Search Results
      </a>
            </li>
        </ul>
    </div>


    <!-- Listings -->
    <section class="container mx-auto">
     <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
                {% if listings %}
                    {% for listing in listings %}
                        <div class="card shadow-lg">
                            <a href="{% url 'listing' listing.id %}" class="relative block group overflow-hidden ">
                                <img class="w-full aspect-[16/9] md:aspect-[27/17] object-cover group-hover:scale-105 transition duration-700 ease-out rounded-lg"
                                     src="{{ listing.photo_main.url }}" alt="{{ listing.title }}">
                            </a>

                            <div class="mt-8 card-body">
                                <div class="flex justify-between">
                                    <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-teal-500 text-white">£ {{ listing.price | intcomma }}</span>
                                    <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-blue-600 text-white dark:bg-blue-500">{{ listing.category }}</span>
                                </div>


                                <h1 class="mt-4 card-title text-gray-800 dark:text-white">
                                    {{ listing.title }}
                                </h1>

                                <p class="mt-2 text-gray-500 dark:text-gray-400">
                                    {{ listing.description | truncatewords:30 }}
                                </p>

                                <div class="flex items-center justify-between mt-4 card-actions">
                                    <div>
                                        <div class="text-lg font-medium text-gray-700 dark:text-gray-300">
                                            {{ listing.city }}, {{ listing.country }}
                                        </div>
                                        <div class="flex gap-2 justify-between">
                                            <p class="text-sm text-gray-500 dark:text-gray-400">{{ listing.bedrooms }}
                                                Bedrooms</p>
                                            <p class="text-sm text-gray-500 dark:text-gray-400">{{ listing.bathrooms }}
                                                Bathrooms</p>
                                        </div>
                                        <p class="text-sm text-gray-500 dark:text-gray-400"><i
                                                class="fas fa-clock"></i> {{ listing.list_date | timesince }} ago</p>
                                    </div>

                                    <a href="{% url 'listing' listing.id %}"
                                       class="inline-block text-blue-500 underline hover:text-blue-400">More info</a>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="prose">
                        <p>No Listings Available</p>
                    </div>
                {% endif %}


            </div>
    </section>
    
    <!-- Pagination -->
    <nav aria-label="Page navigation example" class="flex justify-center items-center mx-auto my-8">
        {% if listings.has_other_pages %}
            <ul class="join">
                {% if listings.has_previous %}
                    <li class="">
                        <a href="?page={{ listings.previous_page_number }}"
                           class="join-item btn btn-sm ">Previous</a>
                    </li>
                {% else %}
                    <li>
                        <a href="#"
                           class="join-item btn btn-sm btn-disabled">Previous</a>
                    </li>
                {% endif %}
                {% for i in listings.paginator.page_range %}
                    {% if listings.number == i %}
                        <li>
                            <a
                                    class="join-item btn btn-sm btn-active">{{ i }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ i }}"
                               class="join-item btn btn-sm">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if listings.has_next %}
                    <li>
                        <a href="?page={{ listings.next_page_number }}" class="join-item btn btn-sm "
                           >Next</a>
                    </li>
                {% else %}
                    <li>
                        <a class="join-item btn btn-sm btn-disabled"
                               >Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
{% endblock %}